QTreeView {
    background-color: rgb(235,235,228);
 }



 ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

img
{
max-width:96%;
max-height:45em;
}

h1
{
text-align:center;
font-family: Times, serif;

}


h2
{
text-align:center;
color:rgb(60,60,60);
font-family: Times, serif;
}


h3
{
text-align:center;
color:rgb(80,80,80);
font-family: Times, serif;


}
h4
{
text-align:center;
color:rgb(90,90,90);
font-family: Times, serif;

}

body
{
background-color: : rgb(250,250,245);
color: rgb(40,30,25);
font-family: """Linux Libertine", Times, serif;
}

img {
    display: block;
    margin: 0 auto;
}

blockquote
{
    font-family: "Cormorant",Times,serif;;
    color: rgb(50,50,50);
    background-color(245,245,245);
    border-color: rgb(220,220,220);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    font-style: italic;
    font-size: 150%;
    line-height: 80%;
    padding: 0.2em;
    margin:0.2em;
}

pre
{
    font-family: monospace;
    color: rgb(70,70,70);
    background-color(245,245,245);
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;

}
